@using FundingPlatform.Application.DTOs
@model SigningCeremonyViewModel
@{
    ViewData["Title"] = "Convenio de financiamiento firmado";
}
<div class="container py-5">
    @await Html.PartialAsync("../../Shared/Components/_SigningCeremony", Model)
</div>
